# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/uploads/diaries/tim/5d588dce-27b4-4237-8276-0e34a9e9f8f0.png
backend/uploads/diaries/tim/6f273e9e-b671-4df5-b512-7296588987cc.png
backend/test.db
*.pyc
