.modal-background,
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal,
.modal-content {
  position: relative;
  background: var(--color-ivory);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  max-width: 25rem;
  width: 100%;
  height: 40rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content h2 {
  font-size: 23px;
  text-decoration: underline;
  text-decoration-color: var(--color-brown);
  text-decoration-thickness: 4px;
  color: var(--color-navy);
  margin-bottom: 30px;
}

.modal-content label {
  color: var(--color-navy);
  font-size: 15px;
}

.react-select__placeholder {
  font-size: 15px;
  color: var(--color-grey);
}

.react-select-container .react-select__control {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-grey);
  font-family: "Gaegu", cursive;
}

.react-select__value-container {
  padding: 0 10px;
}

.react-select__single-value {
  color: var(--color-grey);
}

.react-select__menu {
  background-color: var(--color-ivory);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-select__option {
  color: var(--color-grey);
  padding: 10px;
}

.react-select__option--is-selected {
  background-color: var(--color-blue);
  color: var(--color-ivory);
}

.react-select__option--is-focused {
  background-color: var(--color-blue);
  color: var(--color-ivory);
}

.modal input,
.modal-content [type="text"],
.modal-content input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-grey);
  font-family: "Gaegu", cursive;
}

.modal button,
.modal-content button {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: var(--color-grey);
  font-family: "Gaegu", cursive;
  font-size: 18px;
  color: var(--color-ivory);
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:last-child,
.modal-content button:last-child {
  background: var(--color-blue);
}

.modal button:hover,
.modal-content button:hover {
  background: var(--color-navy);
}

.add-cat-form-button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.add-cat-form-button-container button {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .modal,
  .modal-content {
    height: 560px;
    padding: 1.875rem;
  }

  .add-cat-form-button-container {
    position: relative;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0.625rem 0 0.625rem 0;
    margin-top: 1.25rem;
    box-sizing: border-box;
  }
}
