.add-todo-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.add-todo-input {
  width: 100%;
  padding: 0.625rem;
  margin-right: 1.563rem;
}

.add-todo-input:focus {
  outline: none;
  border: solid 2px var(--color-brown);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-todo-button {
  background-color: var(--color-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-navy);
  font-family: "Gaegu", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 3.75rem;
  margin-right: 0.625rem;
}

.cancel-todo-button {
  background-color: var(--color-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-ivory);
  font-family: "Gaegu", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 3.75rem;
}
