html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.auth-form-box {
  background-color: var(--color-yellow2);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  width: 18.75rem;
  text-align: center;
}

.cat-image {
  width: 8.75rem;
  height: auto;
}

.auth-form-heading {
  font-family: "Gaegu", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  font-size: 35px;
  color: var(--color-navy);
  margin-bottom: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
}

.auth-form-box [type="text"],
.auth-form-box [type="password"] {
  font-family: "Gaegu", cursive;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}

.auth-form-box button {
  font-family: "Gaegu", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--color-blue);
  color: var(--color-navy);
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-navy);
  color: var(--color-ivory);
}

a {
  display: block;
  margin-top: 0.9375rem;
  font-size: 12px;
  color: var(--color-grey);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
