.add-diary-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-navy);
  text-decoration: underline;
  text-decoration-color: var(--color-brown);
  text-decoration-thickness: 4px;
  margin-bottom: 0.625rem;
  cursor: pointer;
}
.add-diary-heading:hover {
  color: var(--color-brown);
}

.diary-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.625rem;
}

.diary-date-input {
  padding: 0.313rem 0.313rem 0.313rem 0.625rem;
  width: 8.438rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-grey);
  font-family: "Gaegu", cursive;
}

.diary-illustration-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  height: 20rem;
  border: 2px solid var(--color-grey);
  border-bottom: none;
}

.diary-illustration {
  width: 18.75rem;
  height: 18.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.diary-name {
  width: 100%;
  font-size: 1.4rem;
  color: var(--color-navy);
  border-top: 2px solid var(--color-grey);
}

@media (min-width: 768px) {
  .diary-right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
  }
  .add-diary-heading {
  }

  .diary-illustration-area {
    margin-right: 20px;
    height: 18rem;
    border: 2px solid var(--color-grey);
  }

  .diary-illustration {
    width: 15.625rem;
    height: 15.625rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .diary-text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .diary-text-area {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 2%;
  }
}
