.page-content.report-page-content {
  padding: 0.625rem;
}
.report-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}

.report-heading {
  color: var(--color-navy);
  text-decoration: underline;
  text-decoration-color: var(--color-brown);
  text-decoration-thickness: 4px;
}

.report-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.report-filter-select {
  margin-left: 0.625rem;
  border: none;
  background-color: var(--color-yellow1);
  padding: 3px 6px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Gaegu";
  color: var(--color-navy);
}

.report-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.938rem;
  grid-template-areas:
    "photo"
    "note"
    "stats"
    "graph";
}

.report-stats-grid {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.938rem;
}

.report-state-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.936rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.report-state-box::before {
  content: "";
  position: absolute;
  left: 50%; /* 박스의 중앙에 위치 */
  top: 20%; /* 선의 위쪽 위치 조정 */
  bottom: 20%; /* 선의 아래쪽 위치 조정 */
  transform: translateX(-50%);
  width: 4px;
  background-color: var(--color-yellow1); /* 선 색상 설정 */
}

.report-state-box-value {
  color: var(--color-navy);
  font-size: 1.25rem;
}
.report-photo-slider {
  grid-area: photo;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 0.936rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12rem;
}

.report-photo-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  visibility: hidden;
  object-fit: cover;
}

.report-photo-slide.active {
  opacity: 1;
  visibility: visible;
}

.report-best-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.report-note {
  grid-area: note;
  padding: 0.936rem;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.report-note__ul {
  list-style-type: none;
  padding: 0;
  /* margin-top: 0.313rem; */
}
.report-note__li {
  text-decoration: underline solid var(--color-yellow1);
  text-decoration-thickness: 4px;
  margin-top: 0.313rem;
}
.report-note__li-date {
  color: var(--color-navy);
}

.report-graph {
  grid-area: graph;
  padding: 0.625rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 550px) {
  .report-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "photo photo note note"
      "stats stats stats stats"
      "graph graph graph graph";
  }
  .report-stats-grid {
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr; */
    gap: 0.625rem;
  }
  .report-state-box {
    flex-direction: column;
    padding: 0.625rem;
  }
  .report-state-box::before {
    display: none;
  }

  .report-best-photo {
    padding: 0.625rem;
  }

  .report-note {
    padding: 0.625rem;
  }
}

@media (min-width: 768px) {
  .page-content.report-page-content {
    flex-direction: column;
  }
  .report-grid-container {
    display: grid;
    height: 85%;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 0.938rem;
    grid-template-areas:
      "stats photo note"
      "stats graph graph";
  }

  .report-stats-grid {
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }

  .report-state-box {
    flex-direction: column;
    padding: 0.625rem;
  }
  .report-state-box-title {
    font-size: 0.875rem;
  }
}

@media (min-width: 1024px) {
  .report-stats-grid {
    margin-right: 20px;
  }
}
