.settings-page-content {
  padding: 0;
}

.settings-select {
  width: 6.25rem;
  padding: 0.313rem 0.625rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-yellow1);
  font-family: "Gaegu";
  font-size: 16px;
  cursor: pointer;
  margin-right: 0.625rem;
}

.sidebar {
  background-color: var(--color-yellow2);
  padding: 10px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--color-yellow2); /* 기본 색상 */
  transition: background-color 0.3s;
}

.sidebar nav ul li:hover,
.sidebar nav ul li.active {
  background-color: var(--color-yellow3); /* 선택된 색상 */
}

/* 메인 콘텐츠 스타일 */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--color-card-background);
  overflow-y: auto; /* 콘텐츠가 많아지면 스크롤 가능하게 함 */
}

.logout-button {
  display: inline-block;
  width: 100%;
  padding: 10x;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  background-color: var(--color-ivory);
  transition: background-color 0.3s;
  color: var(--color-navy);
  font-family: "Gaegu", cursive;
  font-size: 16px;
}

.user-settings__ul {
  list-style: none;
  padding: 0;
}

.user-settings__id-label {
  margin-right: 20px;
  font-size: 18px;
  color: var(--color-navy);
}

.profile-settings-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.profile-settings-header__edit {
  font-family: "Gaegu";
  font-size: 16px;
  color: var(--color-navy);
  cursor: pointer;
  padding: 0.313rem 0.625rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-yellow2);
  margin-right: 0.938rem;
}
.profile-settings-header__delete {
  font-family: "Gaegu";
  font-size: 16px;
  color: var(--color-navy);
  cursor: pointer;
  padding: 0.313rem 0.625rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-yellow3);
}

.profile-settings-content__heading {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.938rem;
}

.profile-settings-content__heading-img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 3.123rem;
  margin-right: 1.25rem;
}

.profile-settings-content__ul {
  list-style: none;
  padding: 0;
}

.profile-settings-content__li {
  margin-bottom: 0.938rem;
}

.profile-settings-content__label {
  color: var(--color-navy);
  margin-right: 0.938rem;
}

.profile-settings-content__li span {
  padding: 0.313rem 0.625rem;
  background-color: var(--color-ivory);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.routine-settings {
  width: 100%;
}

.routine-settings__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.routine-settings__table {
  width: 100%;
  border-collapse: collapse;
}

.routine-settings__thead th,
.routine-settings__table td {
  color: var(--color-navy);
  text-align: left;
  text-decoration: underline;
  text-decoration-color: var(--color-brown);
  text-decoration-thickness: 4px;
}

.routine-settings__table .number {
  width: 20%;
}
.routine-settings__table .interval {
  width: 20%;
}
.routine-settings__table {
  width: 70%;
}

.routine-add-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.routine-add-form__input {
  width: 20%;
  margin-right: 0.625rem;
}

@media (min-width: 768px) {
  .sidebar {
    width: 200px;
    height: 100%;
  }

  .content {
    flex-grow: 1;
    padding: 40px;
  }
}
