.sidebar {
  background-color: var(--color-yellow2);
  padding: 10px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--color-yellow2); /* 기본 색상 */
  transition: background-color 0.3s;
}

.sidebar nav ul li:hover,
.sidebar nav ul li.active {
  background-color: var(--color-yellow3); /* 선택된 색상 */
}

/* 메인 콘텐츠 스타일 */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--color-card-background);
  overflow-y: auto; /* 콘텐츠가 많아지면 스크롤 가능하게 함 */
}

.logout-button {
  display: inline-block;
  width: 100%;
  padding: 10x;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  background-color: var(--color-ivory);
  transition: background-color 0.3s;
  color: var(--color-navy);
  font-family: "Gaegu", cursive;
  font-size: 16px;
}

@media (min-width: 768px) {
  .sidebar {
    width: 200px;
    height: 100%;
  }

  .content {
    flex-grow: 1;
    padding: 40px;
  }
}
