body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFACD;
    color: #2C3E50;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    width: 100%;
    max-width: 600px;
}

.tab-container {
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    background-color: #ADD8E6;
    border-radius: 10px;
    padding: 10px;
}

.tab {
    background-color: transparent;
    border: none;
    color: #2C3E50;
    font-size: 1em;
    cursor: pointer;
}

.tab.active {
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #ADD8E6;
    border-radius: 10px;
    margin-top: 10px;
}

.tab-content.active {
    display: block;
}

.cat-image {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}