@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

:root {
  --color-grey: #808080;
  --color-navy: #2c3e50;
  --color-blue: #add8e6;
  --color-mint: #dff0e6;
  --color-pink: #ffc0cb;
  --color-yellow1: #fffae2;
  --color-yellow2: #fffacd;
  --color-yellow3: #feebb5;
  --color-brown: #d7b977;
  --color-ivory: #fffffa;
}

body {
  font-family: "Gaegu", cursive;
  background-color: var(--color-yellow1);
  color: var(--color-grey);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body.auth {
  background-color: var(--color-mint);
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80vh;
  margin: 2.5rem 3%;
  background-color: var(--color-ivory);
  border: solid 4px var(--color-brown);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: calc(100vh - 9rem);
}

/* 웹킷 기반 브라우저에서 스크롤바 숨김 */
.page-content::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .page-content {
    height: 90vh;
    width: calc(100vw - 2.5rem);
    max-height: calc(100vh - 6.25rem);
    flex-direction: row;
    position: fixed;
    top: 3.125rem;
    margin: 2%;
    padding: 1.25rem;
  }
}
/* @media (min-width: 1024px) {
  .page-content {
    height: calc(100vh - 6.25px);
  }
} */
