@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");

/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

:root {
  --color-grey: #808080;
  --color-navy: #2c3e50;
  --color-blue: #bde0fe;
  --color-mint: #dff0e6;
  --color-pink: #ffc8dd;
  --color-maroon: #b03060;
  --color-green: #a8c686;
  --color-yellow1: #fffae2;
  --color-yellow2: #fffacd;
  --color-yellow3: #feebb5;
  --color-brown: #d7b977;
  --color-ivory: #fffffa;
}

body {
  font-family: "Gaegu", cursive;
  background-color: var(--color-yellow1);
  color: var(--color-grey);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body.auth {
  background-color: var(--color-mint);
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1.25rem;
}

.control-error {
  color: var(--color-maroon);
  font-size: 0.875rem;
  margin: 0 0 10px 20px;
}

/* 스크롤바 디자인 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: var(--color-yellow3);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: var(--color-brown);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey);
}

.divider {
  width: 10px;
  background-image: linear-gradient(
    var(--color-brown) 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: center;
  padding: 0 1.25rem 0 1.25rem;
  background-size: 0.25rem 1rem; /* 점선의 간격 조절 */
  background-repeat: repeat-y;
}

.cat-select {
  width: 6.25rem;
  padding: 0.313rem 0.625rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-yellow1);
  font-family: "Gaegu";
  font-size: 16px;
  cursor: pointer;
  margin-right: 0.625rem;
}

.task-add-button {
  background-color: var(--color-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-navy);
  font-family: "Gaegu", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 3.75rem;
  margin-right: 0.625rem;
}
.task-cancel-button {
  background-color: var(--color-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-ivory);
  font-family: "Gaegu", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 3.75rem;
}

.todo-edit {
  background-color: var(--color-yellow2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-grey);
  font-family: "Gaegu", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.188rem;
}

.todo-delete {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: var(--color-grey);
  font-family: "Gaegu";
}

.todo-delete:hover {
  color: var(--color-maroon);
  cursor: pointer;
  background-color: transparent;
}

.gender-icon {
  color: var(--color-green);
  font-weight: 700;
  margin-right: 0.313rem;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}
/* 제목 추가 안했을 때
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80vh;
  margin: 2.5rem 3%;
  background-color: var(--color-ivory);
  border: solid 4px var(--color-brown);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: calc(100vh - 9rem);
} */
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 75vh;
  margin: 0 3% 1rem 3%;
  background-color: var(--color-ivory);
  border: solid 4px var(--color-brown);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: calc(100vh - 9rem);
}
/* 웹킷 기반 브라우저에서 스크롤바 숨김 */
.page-content::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  h1 {
    justify-content: flex-start;
    text-align: start;
    margin: 1.25rem 2% 0 2%;
  }
  .page-content {
    height: 85vh;
    width: calc(100vw - 2.5rem);
    max-height: calc(100vh - 6.25rem);
    border: solid 10px var(--color-brown);
    flex-direction: row;
    position: relative;
    margin: 0 2% 2% 2%;
    padding: 1.25rem;
    z-index: 10;
  }
}
