@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --color-background: #dff0e6; /* 기본 배경색 (로그인 폼, 로그인 후 배경색 동일) */
  --color-alternate-background: #fffae2; /* 로그인 후 다른 페이지 배경색 */
  --color-primary: #add8e6; /* 주요 색상 */
  --color-secondary: #ffc0cb; /* 보조 색상 */
  --color-text: #2c3e50; /* 본문 텍스트 색상 */
  --color-muted-text: #808080; /* 비활성화된 텍스트 색상 */

  /* 특정 요소 색상 */
  --color-card-background: #fffffa; /* 카드 배경색 */
  --color-card-background-alt: #fffae2; /* 카드 대체 배경색 */
  --color-border: #d7b977; /* 테두리 색상 */
  --color-card-border: #feebb5; /* 카드 테두리 */

  /* 색상 이름 변경 */
  --color-grey: #808080;
  --color-navy: #2c3e50;
  --color-blue: #add8e6;
  --color-mint: #dff0e6;
  --color-pink: #ffc0cb;
  --color-yellow1: #fffae2;
  --color-yellow2: #fffacd;
  --color-yellow3: #feebb5;
  --color-brown: #d7b977;
  --color-ivory: #fffffa;
}

body {
  font-family: "Gaegu", cursive;
  background-color: var(--color-yellow1);
  color: var(--color-muted-text);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body.auth {
  background-color: var(--color-mint);
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}
